body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67007c;
    color: white;
    padding: 15px 30px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    
}

nav ul li a {
    text-decoration: none; /* إزالة الخط تحت النص */
    color: inherit;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Slideshow Section */
.slideshow {
    position: relative;
    height: calc(100vh - 70px); /* The remaining height after the header */
    overflow: hidden;
    margin-top: 70px; /* To ensure images are right under the header */
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

/* About Us Section */
.about-us {
    text-align: center;
    margin-top: 20px;
}

.about-us h2 {
    font-size: 30px;
}

.social-icons {
    margin: 20px 0;
}

.social-icons img {
    width: 50px;
    margin: 0 10px;
}

.about-us p {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    
}
.about-us p {
    width: 60%;
    margin: 0 auto;
    font-size: 20px; /* قم بزيادة حجم الخط هنا */
    color: #70003e;
    

}

